strict-peer-dependencies=true
auto-install-peers=true
prefer-frozen-lockfile=true
save-workspace-protocol=rolling
hoist=true
public-hoist-pattern[]=@types/*
public-hoist-pattern[]=typescript
public-hoist-pattern[]=prettier
public-hoist-pattern[]=eslint
loglevel=warn
save-prefix=^
prefer-offline=true
